<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <% unless cart.line_items.empty? %>
    <h2 style="color:#ffffff;padding-left:25%;">Your Cart</h2>
    
        <table class="w3-table-all w3-hoverable">
        <thead class="thead-dark">
            <tr>
                <th>Quanlity</th>
                <th>Name</th>
                <th>Price</th>
                
            </tr>
        </thead>
        <%= render(cart.line_items) %>
        
            
            
            <tr class="total_line">
                    <td colspan="2">Total</td>
                    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
            </tr>
                
            
            
            <% end %>
</table> 
<table class="with_2">
<tr>
            <th><%= button_to "Checkout", new_order_path, method: :get,:class=>"btn btn-success" %></th>
            <th><%= button_to 'Empty cart', cart, method: :delete,data: { confirm: 'Are you sure?' },:class=>"btn btn-default" %></th>
</tr>
</table>

<!--css for 2 button behind-->
<style>
table.with_2 {
    margin-left: 20%;
}
</style>